header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: transparent;
  width: 97.5%;
  margin: 2px 5px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

section {
  margin-top: 10px;
  width: 100%;
  height: 90vh;
  background-image: url("./assets/MapUI.png");
  display: flex;
  justify-content: center;
  gap: 40px;
}

video {
  margin-top: 65px;
}

.btn2 {
  background-color: #ffffff;
  color: #000;
  font-size: x-large;
  border: 2px solid black;
  box-shadow: 10px 10px rgb(255, 255, 255);
}

video {
  width: 300px;
  height: 450px;
}

.text {
  display: inline-block;
  vertical-align: top;
  margin-top: 60px;
  text-align: center;
  width: 500px;
  color: white;
  text-shadow: 3px 3px rgb(0, 0, 0, 0.7);
}

.join,
.thank {
  color: orangered;
  font-weight: bolder;
}

.btnjoin {
  width: 100%;
  margin-left: 106%;
}

footer {
  background-color: rgb(255, 205, 205);
}

@media screen and (max-width: 1024px) {
  video {
    left: 150px;
    width: 200px;
    height: 400px;
  }

  .text {
    left: 400px;
    font-size: 10px;
    line-height: 35px;
  }
}
@media screen and (max-width: 950px) {
  video {
    left: 100px;
    width: 180px;
    height: 330px;
  }
  .text {
    left: 300px;
    font-size: 5px;
    line-height: 30px;
  }
}
@media screen and (max-width: 650px) {
  section {
    display: flex;
    flex-direction: column;
    gap: 0;
    height: fit-content;
  }
  video {
    width: 100%;
  }
  .text {
    left: 220px;
    font-size: 5px;
    margin-left: 25px;
  }
  .btn2 {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 480px) {
  .text {
    left: 200px;
    font-size: 5px;
    width: 400px;
  }
}
@media screen and (max-width: 430px) {
  .text {
    left: 200px;
    font-size: 5px;
    width: 350px;
  }
}
